* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
.section {
  background: white;
}
.section-1 {
  display: flex;
  width: 1728px;
  height: 230px;
  background: #8ecae6;
}
.box {
  color: #fff;
  font-family: Heebo;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 100% */
  width: 432px;
  height: 130px;
  flex-shrink: 0;
  border: 1px solid #146c81;
  background: #219ebc;
  text-align: center;
  display: flex;
  align-items: center;
}
.section-1 .box {
  margin-top: 50px;
}
.section-2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 1728px;
  height: 530px;
  margin-top: 50px;
  justify-content: end;
  background: #8ecae6;
}
.section-2 .box {
  margin-top: 50px;
  justify-content: center;
}
.section-3 {
  display: flex;
  justify-content: flex-start;
  gap: 257px;
  width: 1728px;
  height: 230px;
  background: #8ecae6;
  margin-top: 50px;
}
.section-3 .box {
  width: 239px;
  height: 100px;
  justify-content: center;
  margin-top: 50px;
}
.section-4 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: #8ecae6;
  width: 1728px;
  height: 500px;
  margin-top: 50px;
}
.section-4 .box {
  width: 416px;
  height: 130px;
  margin-bottom: 50px;
  justify-content: center;
  margin-right: 50px;
}
.section-5 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 1728px;
  background-color: #8ecae6;
  height: 360px;
}
.section-5 .box {
  width: 50%;
  margin-top: 50px;
}
